* {
	moz-user-select: -moz-none;
	-moz-user-select: none;
	-o-user-select:none;
	-khtml-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
	user-select:none;
}
body {
	min-width: 1280px;
}
/*-------注册页面  开始-------*/

.middle_register {
	width: 1150px;
	height: 577px;
	margin:22px auto 90px;
	background: #fff;
}
.register_title {
	height: 66px;
	border-bottom: 2px dashed #E5E5E5;
}
.register_title h5 {
	float: left;
	font-size: 18px;
	font-weight: normal;
	color: #167A58;
	line-height: 66px;
	margin-left: 535px;
}
.register_title span {
	float: right;
	font-size: 14px;
	color: #AAAAAA;
	margin-right: 32px;
	line-height: 66px;
}
.register_content {
	width: 370px;
	height: 468px;
	margin:34px auto;
	text-align: center;
}
.register_content li {
    margin-bottom: 16px;
    float:right;
    position: relative;
}
.register_content label {
    color: #AAAAAA;
}

.register_content li input {
    width: 255px;
    height: 15px;
    margin-left: 20px;
    padding: 12px 0 12px 12px;
    border: 1px solid #E5E5E5;
    border-radius: 3px;
}
.register_content .tel_label {
	width: 136px;
}
.register_content li span {
	display: inline-block;	
	width: 111px;
	height: 39px;
	border: 1px solid #1896D1;
	background: #1896D1;
	margin-left: 3px;
	line-height: 41px;
	cursor:pointer;
	font-size: 14px;
	border-radius: 3px;
}
.register_content .tel_code {
    color: #fff;
}
.register_content .tel_code1 {
	background:#E6E6E6 ;
	color:#818080;
	border:1px solid #CCCCCC;
}
.register_content .pic_code {
	color: #fff;
}
.register_content .register_btn {
	width: 232px;
	height: 46px;
	color: #fff;
	font-size: 18px;
	background: #FF8A00;
	margin-top:40px;
	margin-left: 60px;
}


/*-------注册页面  结束-------*/